name: Test

on:
  push:
    branches:
      - Feature/Dev # O workflow será acionado quando houver um push para o branch Feature/Dev
  pull_request:
    branches:
      - Feature/Dev # O workflow também será acionado quando houver um pull request para o branch Feature/Dev

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release

      - name: Run all tests
        run: dotnet test --configuration Release

